<div id="options_grid">
  <div class="animated slideInLeft" id="cohorts"><%= link_to 'Cohorts', admin_cohorts_path(session[:user_id]) %></div>
  <div class="animated slideInDown" id="students"><%= link_to 'Students', admin_students_path(session[:user_id]) %></div>
  <div class="animated slideInUp" id="courses"><%= link_to 'Courses', admin_courses_path(session[:user_id]) %></div>
  <div class="animated slideInRight" id="instructors"><%= link_to 'Instructors', admin_instructors_path(session[:user_id]) %></div>
</div>
