#cohort_list {
  padding-top: 2%;
  overflow: hidden;
  div {
    border-bottom: 1px solid rgba(0, 117, 121, 0.5);
  }
}

#student_boxes {
  text-align: left;
  padding-left: 30%;
}

#cohort_info {
  margin-top: 20%;
}

span {
  color: white;
}

.column_header {
  font-family: 'Audiowide';
  font-size: 2rem;
}
