#cohort_list {
  grid-template-columns: 25% 25% 15% 15% 20%;
  overflow: hidden;
  div {
    border-bottom: 1px solid teal;
  }
}

#student_boxes {
  text-align: left;
  padding-left: 30%;
}

#cohort_info {
  margin-top: 20%;
}

span {
  color: white;
}
