#course_list {
  grid-template-columns: 40% 20% 40%;
}

#course_info {
  position: relative;
  left: 50%;
  text-align: center;
  padding-top: 0;
}

#course_headers {
  font-family: 'Audiowide';
  font-size: 1.4rem;
  position: relative;
  top: -20px;
  left: -1%;
}
