$main_font: 'Montserrat', sans-serif;
$teal: rgb(0, 215, 203);
$magenta: rgb(191, 0, 195);

.header {
  z-index: 1;
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 8vh;
  right: 0;
  color: white;
  font-family: $main_font;
  background-color: rgb(155, 3, 168);
  text-align: center;
  padding: 0 40px;
  h1 {
    margin: 0;
    text-shadow: 5px 5px black;
    color: white;
    font-family: 'Audiowide';
    font-style: italic;
    padding-top: 15px;
    font-size: 1.8em;
  }
}
