$main_font: 'Montserrat', sans-serif;
$teal: rgb(0, 215, 203);
$magenta: rgb(191, 0, 195);

.edit_student {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 30%;
}

.profile_photo {
  grid-row: 1 / span 2;
  text-align: center;
}

.profile_info, .profile_cohorts {
  padding: 5%;
}
