$main_font: 'Montserrat', sans-serif;
$teal: rgb(0, 215, 203);
$magenta: rgb(191, 0, 195);

.edit_student {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 30%;
}

.profile_photo {
  grid-row: 1 / span 2;
  text-align: center;
  margin: 10% auto;
}

.profile_info, .profile_cohorts {
  padding: 5%;
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    color: $teal;
    &:visited {
      color: $teal;
    }
  }
}

.profile_cohorts {
  a {
    color: $magenta;
    &:visited {
      color: $magenta;
    }
  }
}

#student_headers {
  font-family: 'Audiowide';
  font-size: 1.5rem;
  position: relative;
  left: 1%;
  top: -20px;
}
